@import 'font-families';
@import 'theme';
@import "_ultility.scss";

a:hover{
  text-decoration: none;
}

.post-meta a {
    color: var(--secondary);
}
.post-meta a:hover {
    color: var(--primary);
    box-shadow: 0 1px 0 var(--primary);
}

.inline {
  display:inline-block;
  svg{
    display:inline-block;
    vertical-align:middle;
  }
  img{
    display:inline-block;
    vertical-align:middle;
    width:1.5em;
    height:1.5em;
  }
}

.logo {
    font-size: 38px;
    margin: 2px;
    display:flex;
    padding:10px;

    img, svg {
      width: 75px;
      margin: 0 10px 0 0;
    }
  }

.dark .logo svg{
  fill:#fff;
}

ul.section {
  list-style-type: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  overflow-x: hidden;
  padding: 40px 30px; 
  /*background:linear-gradient(0deg, rgba(51, 47, 63, 0.815),rgba(140, 133, 151, 0.658)), url(mountain.jpg);*/
  background-size:cover;
  background-size: cover;

  .explore-more {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
}

header.pos-absolute {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:5;
}
  
.nav-item {
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  
    &:hover {
      color: var(--primary-text-color-over);
    }
  }

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.toc-sticky {
  position: sticky;
  top: 30px;
  margin-top: 30px;
  border-radius:2px;
  padding: 15px;
  max-height: 100vh;
  overflow: auto;
  font-size:14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  opacity:0.7;
  line-height: 3em;
}

.topout {
  position: sticky;
  bottom: 1px;
  padding: 20px;
  place-self: end;
  margin-top: 110vh;
  pointer-events: none;
}
.topleft {
  margin-left: calc(100% - 80px);
}
.top {
  pointer-events: all;
  padding: 9px;
  border-radius: 9px;
  font-weight:700;
  color: var(--a1);
  background: var(--c2);
}
.top:hover {
  text-decoration: none;
  color: var(--c2);
  background: var(--a1);
  .svgh {
    background: var(--c2);
    opacity: 1;
  }
}

.patchnotes{
  h2{
    margin-top:3em;
    margin-bottom:-0.25em;
  }
  h3, h4, h5, p{
    margin-bottom:0.5em;
  }
  blockquote{
    margin-bottom:1em;
  }
  .line{
    display:flex;
    align-items: center;
    padding-top: 1.5em;

    .img{
      flex:0;
    }
    strong{
      margin-left:8px;
    }
    .item{
      height:48px;
      width:48px;
    }
    .char{      
      height:64px;
      width:64px;
    }
  }
}

.main.patchnotes{
  display:flex;
}
.main.patchnotes > *:first-child{
  flex: 1 1 0;
}