@import 'font-families';
@import 'theme';
@import "_ultility.scss";

.post-meta a {
    color: var(--secondary);
}
.post-meta a:hover {
    color: var(--primary);
    box-shadow: 0 1px 0 var(--primary);
}

.logo {
    font-size: 38px;
    margin: 2px;

    img {
      width: 75px;
      margin: 0 10px 0 0;
    }
  }

header.pos-absolute {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:5;
}
  
.nav-item {
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  
    &:hover {
      color: var(--primary-text-color-over);
      text-decoration: underline;
    }
  }