{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<a href="{{ section.permalink | safe }}">
    <div class="logo">
        {{ load_data(url=get_url(path=config.extra.juice_logo_path)) | safe }}       
    </div>
</a>

<nav>
    <!--{% for page in section.pages %}
    <a class="nav-item subtitle-text" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% endfor %}-->
    {% for game in config.extra.games %}
    <a class="nav-item subtitle-text" href="{{ game.url }}">{{ game.name }}</a>
    {% endfor %}
</nav>
<nav>
    <!--{% for page in section.pages %}
    <a class="nav-item subtitle-text" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% endfor %}-->
    {% for link in config.extra.links %}
    <a class="nav-item subtitle-text" href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
</nav>
{% endmacro render_header %}

{% macro page_in_list(page) %}
    <header class="entry-header">
        <h2>{{ page.title }}</h2>
    </header>
    {% if page.summary %}<section class=entry-content>
        {{ page.summary | safe }}
    </section>{% endif %}
    <footer class="entry-footer">
        <time>{{ page.date | date(format="%B %e, %Y") }}</time>
    </footer>
    <a class="entry-link" href="{{ page.permalink }}"></a>
{% endmacro page_in_list %}