{% extends "base.html" %}


{% block content %}
<div class="hero">
    {% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <h1 class="heading-text" style="font-size: 50px">
            Games w/
            <span class="inline">{{ load_data(path="rust.svg") | safe }}</span>
            +
            <span class="inline"><img src="bevy.png"/></span>
        </h1>
        <h4 class="title-text">
            Experimental and fun
        </h4>
    </section>
    {% endblock hero %}
</div>
<main class="main" id="features">
    <div class="posts">
        {% set is_first_page = true %}
        {% if paginator is defined %}
            {% set pages = paginator.pages %}
            {% set is_first_page = paginator.current_index == 1 %}
        {% elif section is defined %}
            {% set pages = section.pages %}
        {% endif %}
        {% for page in section.pages %}
            {% if loop.index == 1 and is_first_page %}
            <article class="first-entry">
            {% else %}
            <article class="post-entry">
            {% endif %}
        {{ macros::page_in_list(page=page)}}
        </article>{% endfor %}
        {% if paginator is defined %}
        <footer class="page-footer">
            <nav class="pagination">
                {% if paginator.previous %}<a class="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
                {% if paginator.next %}<a class="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
            </nav>
        </footer>
        {% endif %}
    </div>
</main>
{% endblock content %}
